/* Pour un document HTML, :root s'installe au top du <html> */
:root {
	--main-background-color: #1c1c1e; /* proche noir */
	--main-color: #fefefe; /* proche blanc */
}

a:link {text-decoration: none; background-color: #ffffff95 !important; color: #0000FF; font-family: "Time New Roman", Arial, Helvetica; font-size: 12pt; font-style: italic !important}
a:visited {color: #0000FF; font-style: italic !important;}
a:hover {background-color: #ff6666 !important; text-decoration: underline; color: #FF000; font-size: 12pt; font-style: italic !important;}
a:active {text-decoration: none; color: #FF0000; font-family: "Time New Roman", Arial, Helvetica; font-size: 12pt; font-style: italic !important;}



/* pointage vers un fonte local (provenance === GoogleAPIs) */
@font-face {
	font-family: 'Rouge Script';
	src: local('Rouge Script'), url('./fonts/Rouge-Script.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}



/* § d'index: aucune size, de base */
#p_indexation {
	border-radius: 10px; 
	border: 1px black solid; 
	/* width mis par 960-grid */ 
	vertical-align:middle; 
	padding-left: 10px; 
	background-color: #CBC9F3 !important; /* overRide sur la propr. de l'élément de struct. */
}

/* style d'éléments de structures et de classes de style nommées. */
body, article, p {
	font-family: "Times New Roman", Verdana, Arial, Helvetica;
	font-size: 12pt;
	background-color: var(--main-background-color);
	color: var(--main-color);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

/* navigateur en haut pages pour revenir au home du site */
nav {
	overflow: auto;
	width: 99%;
	margin: 0 auto 1.5em auto;
	border: 0.15em solid gray;
	border-radius: 0.25em;
	background-color: dimgray !important;
	color: black;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
		border-radius: 0.25em; font-size: 2em; line-height: 100%;
}

/* ancre dans un navigateur */
nav a {
	font-family: "Rouge Script" !important;
	font-size: xxx-large !important;
	width: 100% !important;
	display: block; /* Pour que le lien prenne toute la largeur et se comporte comme un bloc */
	text-align: center; /* Pour centrer le texte comme dans le h1 */
	margin: 0 auto; /* Pour reproduire le comportement du div parent */
	text-decoration: none; /* Pour enlever le soulignement par défaut des liens */
	padding-top: 15px;padding-bottom: 15px;
}

/* pied-de-page tout en bas */
footer {
	bottom: 0;
	width: 100%;
	padding-top: 50px;
	height: 50px;
}

/* Aligner les img du footer à droite */
footer img {
	float: right;
}

/* boite de regroupement */
fieldset{
	border-color: #A4A4A4;
	border-style: solid;
}

area {
	display: block;
	cursor: hand;
}

.iframe {
	border: 1px solid black;
}

.div_resume_cache {
	display: none;
	background-color: #fff;
}

.div_resume_affiche {
	display: block;
	background-color: #CBC9F3;
	border: 0.15em solid #000066;
	border-radius: 0.25em;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.stabilo_blanc {
	background-color: #ffffff;
	color: #000;
	padding-left: 0px !important;/* suppr. pad pour place img de jQuery.validate.css */
}

.stabilo_noir {
	background-color: #000000;
	color: #fff;
	padding-left: 0px !important;/* suppr. pad pour place img de jQuery.validate.css */
}

.stabilo_bleu {
	background-color: #0000ff;
	color: #fff;
	padding-left: 0px !important;/* suppr. pad pour place img de jQuery.validate.css */
}

.stabilo_gris {
	background-color: dimgray !important;
	color: black;
	padding-left: 0px !important;/* suppr. pad pour place img de jQuery.validate.css */
}

.stabilo_yellowgreen, .stabilo_yellow, .stabilo_lime {
	background-color: #588947;
	color: black;
	padding-left: 0px !important;/* suppr. pad pour place img de jQuery.validate.css */
}

.stabilo_jaune {
	background-color: #ffff00;
	color: black;
	padding-left: 0px !important;/* suppr. pad pour place img de jQuery.validate.css */
}

.stabilo_orange {
	background-color: #FF6C00;
	color: black;
	padding-left: 0px !important;/* suppr. pad pour place img de jQuery.validate.css */
}

.stabilo_rouge {
	background-color: #ff0000;
	color: yellow;
	padding-left: 0px !important;/* suppr. pad pour place img de jQuery.validate.css */
}

.stabilo_vert {
	background-color: #31B404;
	color: black;
	padding-left: 0px !important;/* suppr. pad pour place img de jQuery.validate.css */
}



/* styles pour les conteneurs <div>isions */

/* forme un encadrement rempli de jaune */
.divEncadrante {
	border: solid windowtext .5pt;
	padding: 1.0pt 4.0pt 1.0pt 4.0pt; 
	background: #ffff00;
}



/* forme un encadrement simple */
.divCadre {
	border: solid windowtext .5pt;
	padding: 1.0pt 4.0pt 1.0pt 4.0pt; 
	background: #fff;
}



/* Style pour déboguer */
.divDebugContainer {
	border-color: #FF0000;
	background: #250101;
}
.divDebug {
	background: black;
}
.spanDebug {
	background-color: black;
	color: white;
}



.anchorNav {
	display: block;
	cursor: pointer;
	border-radius: 0.25em; 
	font-size: 4em;
	font-weight: bold;
	line-height: 250%;
}



.acronyme {
	font-family: courrier !important;
	padding-left: 0px !important;/* anti-padding de jQuery-validate */
}



/* Toutes les ancres dans un H1 */
h1 > a {
	font-size: xx-large !important;
}



/* <strike> de mise en exergue d'une correction importante. */
/* barre un texte avec un trait rouge entouré d'un <s>blabla</s> */
s, strike {
	text-decoration: none;	/* we're replacing the default line-through */
	position: relative;
	display: inline-block;	/* don't wrap to multiple lines */
}
s:after, strike:after {
	content: "";				/* required property */
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid red;	/* attention: + de 1px se voit mal dans corzoogle */
	height: 45%;				/* adjust as necessary, depending on line thickness */
	/* or use calc() if you don't need to support IE8: */
	height: calc(50% - 1px);	/* 1px = half the line thickness */
	width: 100%;
	transform: rotateZ(-3deg);
}



.crazystat_counter {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
	font-style: italic;
	color: black;
	position: absolute;
	right: 5px !important;
}



h1, h2, h3 {
	font-family: "Rouge Script" !important;
	font-size: xxx-large !important;
	width: 100% !important;
}



.star_for_required_field {
	font-size: largee !important;
	font-family: Arial;
	font-weight: bold;
	color: #FFCC00;
	padding-left: 0px !important;/* suppr. pad pour place img de jQuery.validate.css */
}



.email {
	background-color: aqua;
	color: black;
}

pre {
	background-color: --main-background-color;
	padding: 10px;
	border-radius: 5px;
	overflow-x: auto;
}

code {
	font-family: monospace;
	background-color: #000;
	padding: 2px 5px;
	border-radius: 3px;
}

.note {
	background-color: --main-background-color;
	border-left: 4px solid #ffd600;
	padding: 10px;
	margin: 15px 0;
}

.contact {
	background-color: --main-background-color;
	border-left: 4px solid #2e7d32;
	padding: 10px;
	margin: 15px 0;
}

.acronyme {
	font-family: courrier !important;
	padding-left: 0px !important;/* anti-padding de jQuery-validate */
}

PRE.LC {
	font-weight: bold;
	background-color: --main-background-color;
	color: --main-color;
	border-width: thin;
	padding: 3px;
	border-style: outset;
	border-style: solid;
}
